body {
  background-color: #CDE3CA;
}
button:hover {
  background-color: black;
  color: white;
}

#questionReveal {
  display: none;
}
.type {
  font-size: 20px;
  display: none;
  border: 2px solid black;
  float: right;
  padding: 20px;
  margin: 10px;
}
